body {
	display: flex;
	flex-direction: row;
}
nav {
	width: 10%;
    border-right: 1px solid #ddd;
}
main {
	flex-grow: 1;
	margin-right: 10%;
    padding-left: 2em;
}

input[type='text'], select, textarea {
    margin: 0 0.5em 0 0.2em;
}

div.labelled-input {
	display: flex;
}

div.labelled-input label {
	flex-basis: 4em;
}
div.labelled-input input {
	flex-basis: 30em;
}

table {
	border-collapse: collapse;
}
th {
	padding: 0 0.3em;
}
td {
	text-align: right;
	padding: 0.3em 0.6em;
}

td.ingr-name {
	text-align: left;
}

td.total {
	border-top: 1px solid darkgray;
}

form.x-button {
	display: inline;
	margin: 0;
}
form.x-button input {
	padding: 0.1em 0.3em;
}

form.add-instr {
    display: flex;
    align-items: flex-end;
}

ol#instructions {
	padding: 0 1em;
}

ol#instructions li {
	list-style: none;
	display: flex;
	align-items: flex-start;
	margin: 0.3em 0;
}

ol#instructions li span {
	margin-top: 0.2em;
}
ol#instructions li span p {
	margin: 0 0 0.5em 0;
}

ol#instructions li .instr-number{
    margin-left: 1em;
    margin-right: 0.5em;
    cursor: move;
    cursor: -webkit-grab;
}
